:root {
  --effect: 0px 9.613719940185547px 36.051448822021484px 0px rgba(183, 191, 221, 0.3);
  --iris-100: rgba(93, 95, 239, 1);
  --iris-60: rgba(165, 166, 246, 1);
  --strok: rgba(183, 191, 221, 1);
  --text-gray-900: rgba(24, 25, 31, 1);
}
